name: CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - run: pnpm install --ignore-scripts
      - run: pnpm run lint
      - run: pnpm run check
  tests:
    needs: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - run: pnpm install --ignore-scripts
      - run: pnpm run test
  release:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        # https://github.com/semantic-release/semantic-release/issues/2636
        with:
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - run: pnpm install --ignore-scripts
      - run: pnpm run build
      - run: pnpx semantic-release
        env:
          GH_TOKEN: ${{ secrets.TESTING_LIBRARY_EXTRA_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.TESTING_LIBRARY_EXTRA_NPM_TOKEN }}
